bs/
build/

Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
configure

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

scripts/

share/examples/Makefile.in
share/lib/Makefile.in
share/mk/Makefile.in
share/scripts/Makefile.in

src/Makefile.in
src/openscad_seam_scanner.cpp
tests/Makefile.in
